.bg1-product-card-container {
  height: 100%;
  width: 1920px;
  background: rgb(254, 240, 240);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  gap: 45px;
  width: fit-content;
  border-radius: 10px;
}

.outer-bg1-product-card-container {
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .bg1-product-card-container {
    width: 100vw;
    min-width: fit-content;
  }
}
