.user-profile-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.user-profile-bg-container {
  padding: 10px;
  background: #e8e3e4;
  display: flex;
  width: fit-content;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 100%;
}

.white-space-user-profile-bg {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.user-profile-become-seller-button {
  font-family: "Inter", sans-serif;
  font-size: 25.04px;
  font-weight: 700;
  margin: 10px;
  border: none;
  background-color: #b90e30;
  color: #f8e7ea;
  line-height: auto;
  cursor: pointer;
  border-radius: 20px;
  padding: 5px 12px 5px 12px;
  width: 250px;
  height: 53px;
}

.user-profile-become-seller-button:hover {
  color: #b90e30;
  background: #f8e7ea;
}
